<div id="forget_password">
  <div id="form">
    <% form_tag forget_password_commit_session_path, :html => {:method => :put} do %>
      <fieldset>
        <div class="legend"><h1>Password Reset</h1></div>
        <p class="field">      
          <label for='Email'>Email:</label>
          <%= text_field_tag :email %>
        </p>
        <p>
          <%= submit_tag 'Submit' %>
        </p>
      </fieldset>
    <% end %>
  </div>
  <div id="more">
    <p>
      If you have forgotten your password and wish to reset it please enter your email address above and click the “submit” button.<br />We will then send an email with link to a special web page where you can reset your password.
    </p>
  </div>
  <div class="c"></div>
</div>
