<% content_for :help do %>
 <h1>New Project help</h1>
 <p>Advertise your design project and receive closed bids for the work from a range of designers.</p>
 <h3>Cost</h3>
 <p>Each new project has a <%= link_to 'Listing fee', pricing_path %> of US$50. There are no additional fees for projects. Once you select a winning bid, you will contract directly with the successful bidder.</p>
 <h3>Deadline</h3>
 <p>Set a deadline for bids. Designers will not be able to make bids after this date.</p>
 
<% end %>

<div class="encapsulate">
 <div id="onethird">
  
 </div>

 <div id="twothirds">
  <h1>New Project</h1>
  	
  <% form_for @project do |f| %>
   <%= render :partial => "form", :locals => {:f => f} %>
   <%= f.submit 'Agree & Create Project' %>
  <% end %>

</div>