<div class="preview" style="width:340px; height:350px;">
 <div style="width:400px; padding:2px; margin: 0 0 10px 10px;">
 <img src="http://logosauce.com/images/profiles/thumbnails/3-thumbnail-1251254593.jpg?1251254599" width="50px" height="50px" />
 by Digger
 </div>
 
 <div style="width:320px; height:240px; border: 10px solid #fff;"><%= image_tag(@logo.image.url(:medium)) %></div>
 
 <div style="height:20px; padding: 2px 10px;">
 "Name" | Score:23  | Views:120 | Comments:3
 </div>
</div>