<h2>Competition Rules</h2>
<ol>
  <li>The intellectual property in the logos or designs submitted to the competition remains the property of the designer until the design is selected as the winner of a competition, at which time the IP in the design passes to the client, provided the prize-money is paid (or made) in full.</li>
  <li>An entry may be submitted, updated or withdrawn at any time while the competition is open. Once closed, an entry may not be added or updated but may be withdrawn by the designer (unless selected as the winner).</li>
  <li>Users may rate and comment on entries and entries will earn points. Each entry will receive a score and subsequent ranking which will help the Client select a winner. However the highest ranked logo will not necessarily be selected as the winner. The Client will be the only and final judge of the winning entry.</li>
  <li>Users/Designers may make multiple entries.</li>
  <li>Entrants must allow Logosauce to display their participation and entries on this website.</li>
  <li>Any submission or participation in the competition must adhere to the Logosauce <a href="terms">Terms of Use</a> </li>
  <li>Clients <strong>MUST CHOOSE A WINNER</strong> at the end of the competition. You have 14 days after the end of the competition to select a winner. Failure to select a winner after 14 days will result in the forfeiture of competition prize-money and any fees. No refunds will be made. Clients may not select as a winner or award prize-money to themselves, a relative, employee, related company or related person. In some circumstances a client may ask that their competition is extended at the discretion of Logosauce administrators. Additional fees may apply.</li>
  <li>Clients must offer a reward with a <strong>MINIMUM VALUE OF US$200</strong>.</li>
  <li>All competition prizemoney and fees must be paid in advance. Once a competition is approved it will go live. If a competition is rejected we will refund prizemoney and all fees.</li>
  <li>Logosauce will accept payments of prizemoney and fees by Paypal, Visa or Mastercard.</li>
  <li>Prize-money will be paid to competition winners by <strong>Paypal</strong> only. If users/designers cannot receive Paypal payments then they should participate in competitions only with the understanding that we pay prize-money via Paypal and that they may need to make alternative arrangements (at their expense) to receive prize-money. Users can open a free Paypal account, but should be aware that some countries cannot accept inwards Paypal payments.</li>
  <li>Users (Clients and Designers) must record their Paypal email address for payments in their Logosauce profile.</li>
  <li>Clients can not extend a competition close-date once the competition starts. Clients may however request an extension to their competition, which Logosauce will action at it's sole discretion.</li>
  <li>Logosauce may remove or delete any entry/design/comment or content at it's discretion that it considers is in breach of any party's intellectual property rights and may remove users rights of access, if Logosauce considers that the users access or activity is a threat to the business interests of Logosauce or damages the reputation of Logosauce, its' clients or its' users.</li>
</ol>