<% content_for :help do %>
 <p>Not sure how to find a designer for your next logo - to find a designer, read the page below or click the People tab (above) and browse or search.</p>
<% end %>

<h2>Designer stories</h2>
<div class="testimonial encapsulate"> 
  <div class="testimonialimage">
    <img src="/images/designer_ryan.jpg" width="100" height="100" />
  </div>
  <div class="testimonialcopy">
    <p>"Logosauce has given me the perfect platform to express my creativity with none of the usual boundaries. It's a great community which includes some very talented creatives from all over the globe.<br /><br />It has certainly helped me to brush up my identity skills and I have met some great people along the way. I would recommend Logosauce to all designers at all levels, and of course, small businesses looking for a new identity!"<br /><br /><a href="http://www.logosauce.com/profiles/3414">RYU</a> (Ryan Simpson)<br />Reading, Great Britain<br />Member since 2 May 2008</p>
  </div>
</div>  

<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="/images/SantiagoSadous.jpg" width="100" height="100" />
  </div>
  <div class="testimonialcopy">
    <p>"It's a pleasure to be part of this great community, having excellent designers worldwide sharing their opinions and thoughts on what you showcase pushes you to the next level.  Logosauce has given me the opportunity to create a fluent relationship with potential clients. <br /><br />In my personal experience I have worked with at least a dozen design competiton clients on several projects once the competition was over, and still have an ongoing relationship with several of them, which is priceless. ."<br /><br /><a href="/people/770">Santessa2</a> (Santiago Sadous)<br />Buenos Aires, Argentina<br />Member since 19 May 2007.</p>
  </div>
</div>

<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="/images/florencetestimonialimage.jpg" width="100" />
  </div>
  <div class="testimonialcopy">
    <p>"I have been submitting designs for the past 2 years to logosauce whenever i have a bit of spare time and it is fantastic.  It keeps you motivated and creating and it is a really nice experience when your design is liked by other Logosaucers and clients from all over the world. <br /><br />Plus it is great to be in touch with the experience of design from other countries and their perspectives on each project. Up to now i have won 4 contests and am working with one of the clients on a few items, which is great, since we truly enjoy working with clients from overseas, since it is always an enriching experience! It is gratifying and I truly recommend this site.
    Regards,
    Flor76"<br /><br /><a href="http://www.logosauce.com/profiles/1567">Flor76</a> (Florencia Sadous)<br />Buenos Aires, Argentina<br />Member since 4th September 2007</p>
  </div>
</div>


<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="/images/diggertestimonialimage.jpg" width="100" height="100" />
  </div>
  <div class="testimonialcopy">
    <p>"We created Logosauce with the idea of celebrating logo design and creating a place where designers could connect with their peers and potential clients alike. I'm constantly amazed at what our members create and it's fantastic to see designers succeed through Logosauce and hear from clients that love the experience, as well as the results."<br /><br /><a href="">Digger</a> (David Vaassen)<br />Auckland, New Zealand<br />Logosauce Founder since 4th August 2006</p>
  </div>
</div>

<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="http://logosauce.com/images/profiles/thumbnails/208-thumbnail-1249787077.jpg?1249787212" width="100" />
  </div>
  <div class="testimonialcopy">
    <p>"Mate, you can’t get better than waking up on a weekend 550 bucks richer. To win in a competition filled with so much talent from other designers is an honor. Cheers."<br /><br /><a href="http://www.logosauce.com/profiles/208">Chanpion</a> (Norman Chan)<br />Gold Coast, Australia<br />Member since 7th March 2007</p>
  </div>
</div>

<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="/images/estweentestimonialimage.jpg" width="100" />
  </div>
  <div class="testimonialcopy">
    <p>"My name is Esteban Batista and I'm from Panama City, Republic of Panama located at the Pacific entrance of the Panama Canal a little but a very special country with several unique bird species and other animals, known around the world as "bridge in the wold, heart of the universe".<br /><br />My experience in Logosauce has been extraordinary in many ways, the platform is unique. Logosauce has helped me in a great way here I design with only the best designers. I have learned to redirect my talent in a good way, to have also a better instinct to what I love to design. What I like the most in here is the friendly, occupational and vocational platform which encourages me to be more creative and have good professional friends between us the designers and the customers that are looking for
    a good design job."<br /><br /><a href="http://www.logosauce.com/profiles/5432">Estween</a> (Esteban Batista)<br />Panama, Panama<br />Member since 10th January 2009</p>
  </div>
</div>


<div class="testimonial encapsulate">
  <div class="testimonialimage">
    <img src="/images/shortytestimonialimage.jpg" width="100" />
  </div>
  <div class="testimonialcopy">
    <p>"Logosauce is a great place to grow as a logo designer. The competitions on the site are an excellent way to introduce your work to companies around the world and as an added bonus you receive relevant feedback from your peers.  <br /><br />Logosauce can also function as an online portfolio for your work. I have been contacted several times by companies because they saw my logos on Logosauce. Personally, Logosauce has helped me expand and refine my identity design skills and has contributed to building my confidence in my work.<br /><br />You get inspired and get to inspire others to do their best - after all there is nothing wrong with a little healthy competition. Try it out!"<br /><br /><a href="http://www.logosauce.com/profiles/2150">Shorty</a> (Bobby Anwar)<br />Copenhagen, Denmark<br />Member since 26th November 2007</p>
  </div>
</div>




