<h2>Project Rules</h2>
<ol>
  <li>The intellectual property in the logos, designs or ideas submitted with a bid for a Project, remains the property of the designer until the bid is selected as the winning bid and all fees due to the designer are paid, at which time the IP in the work offered and paid for as part of the Project passes to the client.</li>
  <li>A bid may be submitted or withdrawn at any time while the Project is open. Once closed, a bid may not be added or updated but may be withdrawn by the designer (unless already selected as the winning bid) at which time there is an effective contract of supply between the advertiser(client) and the winning bidder(designer).</li>
  <li>The lowest cost bid will not necessarily be selected as the winner. The Client will be the only and final judge of the winning bid.</li>
  <li>Users/Designers may make multiple bids.</li>
  <li>Clients and Bidders must allow Logosauce to display their participation in the Project on this website but will NOT display bid amounts or bid details other than to the client.</li>
  <li>Any submission or participation in the project must also adhere to the Logosauce <%= link_to 'Terms of Use', terms_path %> and <%= link_to 'Privacy Policy', privacy_path %>.</li>
  <li>Clients <strong>MAY CHOOSE</strong>a winning bid after the deadline has passed, but are not required to do so if no bid is deemed acceptable. In some circumstances a client may ask that their Project daedline is extended at the discretion of Logosauce administrators. Additional fees may apply.</li>
  <li>All bids are to be in US$.</li>
  <li>Project advertising/listing fees must be paid in advance. Once a Project is approved it will go live. If a Project is rejected or declined we will refund all fees.</li>
  <li>Logosauce will accept payments of Project fees by Paypal, Visa or Mastercard.</li>
  <li>Clients can not change a Project dead-line once the Project starts. Clients may however request an extension to their competition, which Logosauce will action at it's sole discretion.</li>
  <li>Logosauce may remove or delete any bid or content at it's discretion that it considers is in breach of any party's intellectual property rights, our privacy policy or terms of use and may remove users rights of access, if Logosauce considers that the users access or activity is a threat to the business interests of Logosauce or damages the reputation of Logosauce, its' clients or its' users.</li>
  <li>Once the winning bid is selected by the Client, Logosauce will email each party with contact details and announce the winning bid on the project page and activity feeds. The bid amount will be added to the designers total earnings, irrespective of whether the client and winning bidder consumate the contract.</li>
  <li>Logosauce has no responsibility for the delivery of actual work under a project, Logosauce's role is to provide a place for the client to advertise and a designer to bid for work. Once a winning bid is selected, Logosauce's responsibilities end and the client and designer are solely responsible for communicating with each other and consumating the contract.</li>
  <li>On completion of work for the a project, the winning designer may at his or her sole discretion display the artwork/designs in his/her Logosauce portfolio.</li>
</ol>