<div class="encapsulate">
<div class="right">
  <h1>Our Mission</h1>
  <p>To free logos from the hidden depths of the designers hard-drive. <br /><br />To expose logos great and small to the world for comment and adoration. <br /><br />To inspire great and fantastic logo design. <br /><br />To give logos their provenance and lastly to show people the path to enlightenment and more importantly to the source of the very logo artwork itself!</p>
</div>  
<div class="left">  
  <h1>Who is Logosauce&trade;</h1>
  <p>Logosauce is from New Zealand, invented by design and brand geek David Vaassen (ably assisted by Matthew Ravenhall).<br /><br />Logosauce was the result of frustration over finding (or rather not finding) the source of brand artwork for customers, clients and projects.<br /><br />Initially the plan was to provide a simple brand directory (like a yellow pages for brands) with contact info for the brand owner. Alas, unfortunately most brand owners are useless when it comes to brand stuff and have little idea where to find artwork, let alone what a vector file is!<br /><br />So it was obvious that we had to get the designers themselves involved.<br /><br />So Logosauce evolved into a place for logo designers to not only point people to the source artwork, but to showcase their designs, admire others, comment and discuss logo design and hopefully get some inspiration.<br /><br />We hope that designers will come (in their millions !) and showcase their beautiful designs, whether it's a commercial logo or just a concept that has never seen the light of day.<br /><br />We aim for the site to be free forever with support from sponsors (and maybe advertising - although we'd rather not have ads everywhere cluttering up the place).<br /><br />David is also owner of <a href="http://e-see.com">e-see&reg;</a> and <a href="http://www.brandfm.com">BrandFM&trade;</a> both involved in brand management.<br /><br />Oh and we love logos.
  </p>
</div>  
</div>