<% content_for :help do %>
 <p>There are limited advcertising opportunities on Logosauce</p>
<% end %>

<h1>Advertising on Logosauce</h1>
<p>Logosauce is a free service supported by advertising, sponsorship and some optional paid services.<br /><br />We intentionally limit advertising to limit <em>noise</em> on what is essentially a design oriented site. Advertisers must be suitable businesses of interest to our audience of designers, marketers and brand professionals.
<br /><br />You can see an advertising example in the top right hand corner of the site.<br /><br />
If you would like to advertise on the site please <a href="contact">contact us</a> to discuss.</p>