<% content_for :help do %>
 <h1>Contact Help</h1>
 
 <p>Our HQ is in Auckland New Zealand - so you may have trouble getting us on the phone depending on your time zone. We suggest you either email or tweet.</p>
<% end %> 


  <h1>Contact Us</h1>
  <h2>Email: <a href="mailto:support@logosauce.com">support@logosauce.com</a></h2>
  <h3>Twitter: <a href="http://twitter.com/logosauce">twitter.com/logosauce</a></h3>
  <h3>Tel:  +64 9 631 5130<br />Fax: +64 9 631 5129</h3>
  
  <div class="encapsulate">
  <h3>Skype:</h3>
  
 <!--
Skype 'My status' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:david.vaassen?call"><img src="http://mystatus.skype.com/balloon/david%2Evaassen" style="border: none;" width="150" height="60" alt="My status" /></a>


</div>
  
<br />
<br />
<br />
<h4>Lost Password ?: <a href="/session/forget_password">Click here</a></h4>
<br />
<p><strong>Postal:</strong>  PO Box 90730 VSMC, Auckland 1142, New Zealand<br /><strong>Street:</strong>  Studio111, Zone 23, 23 Edwin Street, Mt Eden, Auckland 1024, New Zealand</p>
<p>See where we are on <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=e-see&sll=-36.859579,174.751968&sspn=0.016241,0.03253&g=auckland&ie=UTF8&hq=e-see&hnear=Auckland,+New+Zealand&ll=-36.865133,174.757247&spn=0.01624,0.03253&z=16&iwloc=A&cid=2082903242395518554">Google Maps</a> </p>

<br />
<h2>Got questions?</h2>
<p>Press enquiries, opportunities, sales enquiries and general questions, comments, and concerns should be sent to David Vaassen, CEO, via <a href="mailto:david@logosauce.com">Email</a></p>
