<!--><div class="encapsulate">

<div id="onethird">
 <div class="new">
  <a href="projects/new" title="Advertise a design Project">+ Advertise your Project</a>
 </div>
 <div class="info">
  <a href="people?kind=designers&location=everywhere" title="Checkout some other logo design competitions">Browse Designers</a><br />
  <a href="projects" title="Checkout some other logo design competitions">Browse Projects</a><br />
  </div>

</div>-->

<div class="encapsulate">
  <div class="left">
    <h1>Find a logo designer</h1>
    <p>Logosauce designers come from all around the globe. From Auckland, New Zealand to Malmo, Sweden and most major cities in between.</p>
    <img src="images/logosauce_world.jpg" title="Logosauce users map from Google Analytocs Feb 2010"/>
    <p>Logosauce users live in cities around the globe displayed on the world map (courtesy of google Analytics).</p>
    <br />
    <p>Whatever your requirements you'll be able to find a great designer here at Logosauce.  There are several ways you can do so.</p>
    <br />
    <h2>Why use Logosauce ?</h2>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/portfolio.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>Portfolios</h4>
        <p>Way better than browsing the yellow pages, searching google or viewing an ad or a website. <br />On Logosauce you can see the actual work of all the designers. You can search or browse to your hearts content.</p>
      </div> 
    </div>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/city.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>Quantity</h4>
        <p>Choose from thousands of designers from hundreds of towns and cities around the globe.</p>
      </div>
    </div>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/quality.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
       <h4>Quality</h4>
       <p>Designers on Logosauce are interested in becoming better designers. They practice by entering competitions and uploading work in progress for comment, they support each other. Secondly their work is rated by the community and they get points for success. You can see their work for yourself and you can see what other users think too.</p>
      </div> 
    </div>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/actions.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>Actions speak louder</h4>
        <p>Actions speak better than words. Logosauce is an open and honest community. All is laid bare and you can see how a designer operates before you commission them.</p>
      </div>
    </div>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/feelsafe.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
          <h4>Feel safe</h4>
          <p>Logosauce is operated by <a href="http://e-see.co.nz">e-see&reg;</a>, a professional brand management company entrusted with managing big corporate, government and SME brands. We have rules and terms of use that protect the interests of Clients and Designers alike. </p>
      </div> 
    </div>
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/free.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>It's Free</h4>
        <p>You can Sign-up for a free membership that will give you access to a host of features. <br /><br />You can optionally apply for a paid Pro Designer account, start a paid Design Competition or place a paid Project Ad.</p>
      </div> 
    </div>
    <br />
    <h2>Checkout designer portfolios - Free</h2>
    <p>Try any of these:
      <ul>
        <li>Go to the People tab and browse for a designer in your country of choice (e.g <a href="people?kind=designers&location=australia" title="logo Designers from Australia">Designers in Australia</a>) or from <a href="/people?kind=designers&location=everywhere" title="logo Designers from Everywhere">everywhere!</a></li>
        <li>Go to the People tab and search for something or someone by name, country, tag etc</li>
        <li>Find any logo and click the "by nickname" link to display the logo designers page.</li>
        <li>Click a users name in any comment or activity bubble.</li>
        <li>Check out design <a href="competitions?kind=winners&sort=open_date" title="logo Design competition winners">competition winners</a>.</li> 
      </ul>  
    </p>
    <br />
    <h2>Advertise a design project - $50</h2>
    <p>Want to work with just one designer rather than run a competition? No problem.<br /><br />Advertise your design project (say a new logo for your business) and resident Logosauce designers will bid for the right to work with you. Once you pick your designer, we'll put the two of you together and you'll work directly with him/her on your project and work in progress will not be displayed at Logosauce. Once you've completed the project the designer can display the final design in his/her portfolio.
      <ol>
        <li>Click the Projects tab.</li>
        <li>Click the <em><a href="projects/new" title="Advertise a logo design project">Advertise your Project</a></em> button.</li>
        <li>Sign-up and Sign-in if you haven't already.</li>
        <li>Complete your design brief, set your close date for permissions, save and pay the listing fee of $50.</li>
      </ol>
    </p>
    <br />
    <h2>Look at someone else's competition</h2>
    <p>You can browse through existing <a href="/competitions" title="current logo design competitions">competitions</a>, see entries and entrants, and link through to the various designers portfolios from there.</p>
    <br /><br />
    <p>NEXT - <a href="getalogo">Run a design contest/competition</a></p>
    
  </div>
  <div class="right">
    <%= render :partial => 'site/designers' %>
  </div>  
</div>