<% content_for :help do %>
 <p>Not sure how to find a client?.  The best bet is to create a Portfolio to promote yourself. Then participate in competitions and bid on projects.  To succeed, first you've got to take the first step. Once you start, opportunities will present themselves. See below for the first step.</p>
<% end %>
 
<div class="encapsulate">
  <div class="left">
    <h1>Find design clients.</h1>
    <p>If you're a designer looking for fame or more work? - You can create a free design portfolio, compete in design competitions, bid for freelance project work and advertise your capabilities free of charge. <a href="people/new">Sign-up here</a> to get started.</p>
    <br />
    <h2>Why designers should use Logosauce ?</h2>
 
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/portfolio.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
          <h4>Free Portfolio</h4>
          <p>Create a portfolio of your logo designs completely free of charge.</p>
      </div> 
    </div>  
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/makemore.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>Make more money</h4>
        <p>You can make money by winning competitions, winning project bids, selling your existing designs or being commissioned by more clients.</p>
      </div> 
    </div>
  
    <div class="encapsulate">
      <div style="float:left; width:48px; margin-right:10px; display:block;">
        <img src="/images/discovered.gif" width="48" />
      </div>
      <div style="float:right; width:300px; margin-bottom:25px;">
        <h4>Get discovered</h4>
        <p>Be an active user and clients will find you! They can view your logo designs, search for tags, click on links, even your comments can direct clients back to your portfolio.</p>
     </div> 
    </div>
    
    <div class="encapsulate">
        <div style="float:left; width:48px; margin-right:10px; display:block;">
          <img src="/images/becomeabetter.gif" width="48" />
        </div>
       <div style="float:right; width:300px; margin-bottom:25px;">
         <h4>Become a better designer</h4>
         <p>Peer pressure and recognition helps you become a better designer when you participate. Share ideas, discuss, comment, vote, get feedback on your work and more. Learn or teach - it's up to you.</p>
       </div> 
    </div>
      
      <div class="encapsulate">
          <div style="float:left; width:48px; margin-right:10px; display:block;">
            <img src="/images/feelsafe.gif" width="48" />
          </div>
         <div style="float:right; width:300px; margin-bottom:25px;">
           <h4>Feel safe</h4>
           <p>We're a community of professional and amateur designers, clients and fans. For designers we guarantee payment of prizemoney and for clients we guarantee number of entries in competitions. We moderate transactions and keep the peace.</p>
         </div> 
        </div>
      
      <div class="encapsulate">
          <div style="float:left; width:48px; margin-right:10px; display:block;">
            <img src="/images/Fun.gif" width="48" />
          </div>
         <div style="float:right; width:300px; margin-bottom:25px;">
           <h4>Have fun</h4>
           <p>Logosauce is a great place to practice design or just enjoy all the amazing design going on from all corners of the globe. We're an open honest bunch of folks all dedicated to celebrating logo design. If logos rock your boat - climb aboard. </p>
         </div> 
      </div>
 
      <br />
 
      <h1>To do...</h1>
      <h2>1. Create a design portfolio (Free)</h2>
      <p>Get started...
      <ol>
        <li><a href="/people/new">Sign-up</a> as a Designer.</li>
        <li>Create a free Portfolio by uploading your best logo designs.</li>
        <li>Get active by favouriting, commenting and voting on designs.</li>
      </ol>
      That's just the start. There's more...
      </p>
      <br />
      <h2>2. Participate in design competitions (Free)</h2>
      <p>Compete in a <a href="/competitions">Design Competition</a>. There's always several to choose from.  <br /><br />Not sure, check out previous competitions, and don't forget to checkout some of the fellow designers who have won.</p>
      <br />
      <h2>3. Bid for logo design projects (NEW).</h2>
      <p>Design Projects are different from competitions. <br /><br />Projects are like the traditional design brief and contract with the client working with a single designer.<br /><br />Logosauce now lets clients advertise a design project and designers submit a <em>sealed bid</em> to win the design project work.<br /><br />Once the client has selected the winning bid - we'll post the winners name and the winning bid value. Unsuccessful bids won't be shown. It's then up to the client and designer to work together off site.<br /><br />After completing the project the designer can upload the finished design(s) and associate with both his/her profile and the project.</p>
      <br />
      <h1>And ...</h1>
      <h2>Get a <span class="pro">PRO</span> account (NEW)</h2>
      <p>You can now get a Pro account if you qualify. Pro accounts have added benefits:
        <ul>
          <li>Preferential offers.</li>
          <li>Triple karma ratings - mean your votes count for more points.</li>
          <li>Elevated results in search.</li>
          <li>Clients prefer Pro designers.</li>
        </ul>
      </p>
      <p>You can qualify for a <span class="pro">Pro</span> account in one of two ways.
      <ul>
        <li>Win 2 or more design competitions - you will be upgraded to Pro automatically and free of charge - subject to Logosauce admin approval.</li>
        <li>Pay a Pro listing fee of $50, upload at least 10 logos and complete your profile bio. Logosauce admins will then review and approve suitable candidates. You need to demonstrate good quality work and have suitable qualifications or work experience.</li>
      </ul>
      </p>
      <h2>Get yourself in <em>The Book</em>.</h2>
      <p>Coming soon...</p>
      <br />
      <br />
      <p>NEXT - <a href="about">About Logosauce</a></p>
  </div>
  <div class="right"  >
    <%= render :partial => 'site/designers' %>
  </div>
</div>