<% content_for :help do %>
 <p>Not sure how to run a design contest or competition?.  Read the why's and hows below. If still in doubt you can view existing and past design competitions from the Competitions tab. If you decide to start your own competition - we'll even guarantee the number of entries you get.</p>
<% end %>

<div class="encapsulate">
 <div class="left">
   <h1>Run a logo design contest</h1>
   <p>You can easily get a custom designed logo designed to meet your brief by running a design contest or competition.<br /><br /> Logo competitions run for a set time and for a fixed reward. You set the time frame and budget for your design. During the competition, monitor progress and give feedback to designers via comments and favourites. Then at the end of the competition select the winning design.
     <br /><br />Easy.</p>
     
     <br />
      <h2>Why clients should use Logosauce ?</h2>

      <div class="encapsulate">
        <div style="float:left; width:48px; margin-right:10px; display:block;">
          <img src="/images/hands.gif" width="48" />
        </div>
       <div style="float:right; width:300px; margin-bottom:25px;">
         <h4>Crowd sourcing</h4>
         <p>Logosauce logo design competitions are a great example of <a href="http://en.wikipedia.org/wiki/Crowdsourcing" title="Wikipedia article about crowd sourcing">crowd sourcing</a>. A phenomenon enabled by the internet and social networking where a large number of people can work on a task or offer a better solution at a lower cost.<br /><br />So, when it comes to your logo, you'll have hundreds of logo designers and a strong community of designers and design fans working on your logo.</p>
       </div> 
      </div>  
      <div class="encapsulate">
         <div style="float:left; width:48px; margin-right:10px; display:block;">
           <img src="/images/savemoney.gif" width="48" />
         </div>
        <div style="float:right; width:300px; margin-bottom:25px;">
          <h4>Save money</h4>
          <p>Compared to the traditional process you can save a significant amount of money and disappointment. You get a custom designed logo from as little as $220. Or you can <a href="people?kind=designers&location=everywhere">find a great logo designer</a> from anywhere on the globe to commission in the traditional way.</p>
        </div> 
       </div>

       <div class="encapsulate">
           <div style="float:left; width:48px; margin-right:10px; display:block;">
             <img src="/images/better-logo.gif" width="48" />
           </div>
          <div style="float:right; width:300px; margin-bottom:25px;">
            <h4>Get a better logo</h4>
            <p>The brilliance of Logosauce is the amazing creative input and variety you get when you mix hundreds of designers from all over the world with your design brief. Designers with a multitude of different experiences, cultures, environments and influences creating surprising designs, that often just feel right. It feels like they can read your mind. It's magical.</p>
          </div> 
         </div>

         <div class="encapsulate">
             <div style="float:left; width:48px; margin-right:10px; display:block;">
               <img src="/images/unfold.gif" width="48" />
             </div>
            <div style="float:right; width:300px; margin-bottom:25px;">
              <h4>See your design unfold</h4>
              <p>When you run a design competition, you get to see your design unfold. Entries will come in over the competition period and you'll see how ideas are developed and refined by many designers.  You can comment	and give direction to entrants too, especially if you see designer heading off in the wrong direction.</p>
            </div> 
           </div>
           
           <div class="encapsulate">
                 <div style="float:left; width:48px; margin-right:10px; display:block;">
                   <img src="/images/connect.gif" width="48" />
                 </div>
                <div style="float:right; width:300px; margin-bottom:25px;">
                  <h4>Connect & Share</h4>
                  <p>Logosauce is a good web citizen. We're built with open source <a href="http://rubyonrails.org">Ruby on Rails</a>, We have a semantic natural URL structure, provide RSS feeds and make it easy to share via Twitter and Facebook.</p>
                </div> 
            </div>
           
           <div class="encapsulate">
                <div style="float:left; width:48px; margin-right:10px; display:block;">
                  <img src="/images/found.gif" width="48" />
                </div>
               <div style="float:right; width:300px; margin-bottom:25px;">
                 <h4>Get found - Search engine friendly</h4>
                 <p>Anyone can search and find your logo. We work great with search engines (such as Google) too. Your logo and brand will be famous before you know it!</p>
               </div> 
           </div>
           
           <div class="encapsulate">
                 <div style="float:left; width:48px; margin-right:10px; display:block;">
                   <img src="/images/Dont-get-found.gif" width="48" />
                 </div>
                <div style="float:right; width:300px; margin-bottom:25px;">
                  <h4>DON'T Get found - "Bad search engine"</h4>
                  <p>If you prefer, you can make your design competition PRIVATE if you don't want to be found on search engines.</p>
                </div> 
               </div>
           
             
           <div class="encapsulate">
               <div style="float:left; width:48px; margin-right:10px; display:block;">
                 <img src="/images/feelsafe.gif" width="48" />
               </div>
              <div style="float:right; width:300px; margin-bottom:25px;">
                <h4>Feel safe</h4>
                <p>Logosauce is operated by <a href="http://e-see.co.nz">e-see&reg;</a>, a professional brand management company entrusted with managing big corporate, government and SME brands. For designers we GUARANTEE PAYMENT of prizemoney and for clients we GUARANTEE THE NUMBER OF ENTRIES you will receive in competitions. We moderate the community and keep the peace.</p>
              </div> 
             </div>

           <div class="encapsulate">
               <div style="float:left; width:48px; margin-right:10px; display:block;">
                 <img src="/images/enjoy.gif" width="48" />
               </div>
              <div style="float:right; width:300px; margin-bottom:25px;">
                <h4>Enjoy the process</h4>
                <p>Getting a new logo has never been so much fun. It's easy to get started. You can transparently see progress and get involved. In fact the more active you are the better the result. </p>
              </div> 
             </div>

      <br />
     <h1>What does it cost?</h1>
     <p>Prize $ + 10%.<br /><br />The budget is up to you, however there is a minimum budget (or prize value) of US$200. On top of that there is a 10% competition administration fee.<br /><br />So The minimum cost for you to run a competition is US$200 plus 10% = US$220. </p>
     <br />
      <h1>How many entries will I get?</h1>
      <p>Typically you'll get more than enough.<br /><br />However we also <strong>GUARANTEE</strong> a minimum number of entries depending on the amount you're willing to offer designers. Obviously the larger the budget, the more attractive your design competition is to designers and the more entries you will receive. <br /><br />We'll make some suggestions when you create your competition, but don't worry we'll declare all costs up front before we charge you a cent.</p>
      <br />
      <h1>How to start and run a design competition</h1>
      <p>It's easy - let's get started:
        <ol>
          <li>Click the <em><a href="/competitions/new">Start a Design Competition</a></em> button.</li>
          <li>Sign-up and Sign-in if you haven't already.</li>
          <li>Complete your design brief, set your prize value, save and pay.*</li>
          <li>Logosauce admins will review and approve your competition brief before it goes live.</li>
          </ol>
      </p>
      <p>* We charge a 10% admin fee on all competitions (plus any optional extras you pick). Prize-money and fees are paid in advance so we can guarantee payment to the winning designer.</p>
      <p>Once your competition is live and you'll start to see entries pour in. You can (and should) then comment on entries, pick your favourites and monitor progress. Once your competition is closed - pick your winner. We'll then arrange artwork delivery and pay the designer.</p>
      <br />
      <br />
      <p>NEXT - <a href="findaclient">Find design clients</a></p>
      
  </div>
  <div class="right">
    <h2>Competition stories</h2>
    <div class="testimonial encapsulate">
      <div class="testimonialimage">
        <img src="http://www.logosauce.com/images/logos/thumbnails/70540-gallery-1262732944.jpg?1262732947" width="100" />
      </div>
      <div class="testimonialcopy">
        <p>"A great experience and we got a logo far better than we initially expected for a great price to. Thanks Logosauce."<br /><br /><a href="http://www.logosauce.com/profiles/3479">David Saldaner</a> (Client)<br />Netixchange, Scituate, USA<br />Competition #<a href="http://www.logosauce.com/competitions/855">855</a></p>
      </div>
    </div>  

    <div class="testimonial encapsulate">
      <div class="testimonialimage">
        <img src="http://logosauce.com/images/logos/thumbnails/45840-gallery-1239695263.jpg?1239695267" width="100" />
      </div>
      <div class="testimonialcopy">
        <p>"Thank you once again for the great service, a wonderful experience and the opportunity to have access to such a broad base of very talented people."<br /><br /><a href="http://www.logosauce.com/profiles/1851">Greg McCrae</a> (Client)<br />Coachvista Inc., Ottawa, Canada<br />Competition #<a href="http://logosauce.com/competitions/587">587</a></p>
      </div>
    </div>
    
    <div class="testimonial encapsulate">
      <div class="testimonialimage">
        <img src="http://logosauce.com/images/profiles/thumbnails/208-thumbnail-1249787077.jpg?1249787212" width="100" />
      </div>
      <div class="testimonialcopy">
        <p>"Mate, you can’t get better than waking up on a weekend 550 bucks richer. To win in a competition filled with so much talent from other designers is an honor. Cheers."<br /><br /><a href="http://www.logosauce.com/profiles/208">Chanpion</a> (Designer)<br />Chanpion Design, Gold Coast, Australia<br />Member since 7th March 2007</p>
      </div>
    </div>
    

    <div class="testimonial encapsulate">
      
      <div class="testimonialcopy">
        <p>&quot;I must state, that with all of the logo design companies I've used in the past, your service has been, by far, the best decision I made with my most recent logo.  It was overwhelming (in a good way) trying to decide which direction to go with so many designs, but it really was a phenomenal experience, and I look forward to using the service again in the coming weeks. All the best.&quot;<br /><br /><a href="http://logosauce.com/profiles/6228">Marshall</a> (Client)<br />(Private Competition)<br />Competition #<a href="http://logosauce.com/competitions/616">616</a></p>
      </div>
    </div>
  </div>  


</div>