<% content_for :help do %>
 <p>You can subcribe to our email mailing list to receive news and updates via email. You can opt out at any time and we promise not to spam you with uncessary emails or to share your email address with anyone else.</p>
<% end %>

<div class="encapsulate">
	<div class="left">
		<h1>Subcribe</h1>
		<p>Subscribe to our mailing list. We promise not to spam you <br />or share your addres with anyone else.</p>
		<form action="http://app.mailmachine.co.nz/t/r/s/wijd/" method="post" id="subForm">
			<div>
				<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
				<label for="wijd-wijd">Email:</label><br /><input type="text" name="cm-wijd-wijd" id="wijd-wijd" /><br />
				<br />
				<input type="submit" value="Subscribe" />
			</div>
		</form>
	    <br />
	</div>
	
	<div class="right">
		<h1>Previous Newsletters</h1>
		<script type="text/javascript" src="http://app.mailmachine.co.nz/t/r/p/bbl/0/0/0/1/0/"></script>
	</div>
</div>