<% content_for :help do %>
 <p>You're already at the Help Centre. Check the page below for HELP and FAQ's. </p>
<% end %>

<h1>Welcome to the Help Centre</h1>
<div class="encapsulate" style="margin-top:20px;">
  <div class="left">
<h1>1. Check the FAQ's (below)</h1>
<ul>
  <li><a href="#signup">Sign-up & Sign-in</a></li>
  <li><a href="#logos">Logos</a></li>
  <li><a href="#competitions">Competitions</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#people">People</a></li>
  <li><a href="#blog">Blog</a></li>
  <li><a href="#myprofile">My Profile</a></li>
  <li><a href="#other">Other</a></li>
</ul>  
<hr />

<h1 id="signup">Sign-Up & Sign-in</h1>

<h2>What does it cost?</h2>
<p>Sign-up is free. Anyone can get a free user account.</p>

<h2>How can I remember my password?</h2>
<p>Logosauce can set a cookie so you'll always be logged in or have your password remembered. You can ask your browser to save your login settings.</p>


<h2>I forgot/lost my password - can I reset it?</h2>
<p>Yes - from Sign-in page, click the reset password.</p>
<hr />

<h1 id="logos">Logos</h1>
<h2>Rating & Commenting</h2>

<h3>Who can vote (rate) or comment on a logo ?</h3>
<p>You must be logged in to vote. To login you must have created a free user account(user profile) by <a href="/session/new">signing up</a>.</p>
<br />
<h3>What is the difference between score and ratings and how are they calculated?</h3>
<p>SCORE is made up of the votes cast by users against your logos and earned from other activity such as competition wins. VIEWS are the number of unique page views your logo gallery/detail page has received. Note also that votes by qiualified users such as "Pro" designers, clients, etc are worth more to your overall score.
</p>
<br />

<h2>How is score calculated?</h2>
<p>Score = votes.  Score is calculated as follows.
 <ul>
<h3>Vote cast by a standard user</h3>
<li>1 bottle is worth 1 point.</li>
<li>2 bottles is worth 2 points</li>
<li>3 bottles is worth 3 points.</li>
</ul>
 
Simple enough. However these votes are multiplied by 3 if the vote is cast by a Pro Designer. 

<ul>
<h3>Vote cast by a Pro Designer</h3>
<li>1 bottle is worth 3 points.</li>
<li>2 bottles is worth 6 points</li>
<li>3 bottles is worth 9 points.</li>
</ul>
Votes by a client in his/her own competition are worth 10 times. 

<ul>
<h3>Vote cast by a Client in own competition</h3>
<li>1 bottle is worth 10 points.</li>
<li>2 bottles is worth 20 points</li>
<li>3 bottles is worth 30 points.</li>
</ul>
</p>
<p>And there are additional points awarded as follows</p>
<ul>
<li>Competition win is worth 100 points</li>
<li>Winning project bid is worth 100 points</li>
</ul>

<p>While a user can comment multiple time a user can only vote once per logo. A user may also change his/her vote.</p>

<h2>What is the Favourites number?</h2>
<p>Favourites is the number of users who have added this logo to their favourites list. You must be logged in to add to favourites.</p>
  
<h2>Searching & Viewing</h2>

<h3>How does search work?</h3>
<p>Search in Logosauce has kept as simple as possible. <br /><br />Each Tab has it's own special search. Click on the Logos tab and then use the search box to search for logos. On the people tab use the search box to search for people. Search by default looks at Item name (e.g. logo, person, company etc), Notes and Tags and display these sorted by published date (most recent first).</p>
<br />
<h3>How do I view logo detail and a larger image?</h3>
<p>Search for the Logo you want - click on the thumbnail image to view the Gallery/Detail page. then click the logo again to view the Lightbox image which displays the logo with all the background detail blacked out.</p>
<br />
<h3>How can I access original or source artwork?</h3>
<p>Logosauce does not store source artwork. However designers may add information about where you can find the source artwork for the logo they have listed. If the information is provided - it can be found on the gallery/detail page of each logo. Failing that you can contact the user who published the logo by checking out the users profile.<br /><br />The exception to this is for Design Competition where the winning design source artwork is uploaded for the client to retrieve. This artwork is only available to the paying client and competition owner.</p>
<br />
<h2 id="finalart">Final Art Files</h2>
 <p>If you're supplying logo artwork to a client - either as the result of winning a competition or otherwise, your artwork files should comply with the following standards.</p>
 <ul>
   <li>You should generally be supplying any logo artwork in a vector format. Raster based artwork is rarely suitable for logo artwork.</li>
   <li>Preferred vector format is Adobe Illustrator .ai or Adobe Illustrator .eps file formats.</li>
   <li>Please save any Illustrator or other Adobe Creative suite files with the CS suite edition set to one or two versions lower than the current CS version. This will ensure compatibility for clients with older versions of software.</li>
   <li>Ensure that when saving .eps files you select 8bit Tiff previews for your files (not Mac preview).</li>
   <li>Ensure all fonts are pathed (converted to outlines) before saving.</li>
   <li>You should save and upload a separate file for each colour-space that you have generated - such as SPOT, CMYK, RGB, etc.</li>
   <li>If you have multiple files to upload - please zip them first and upload the zip file.</li>
   </ul>



<hr />
<h1 id="competitions">Competitions</h1>
 <h2>How do I pick a competition winner</h2>
 <p>Once your competition is closed - you will be able to pick a single winner. You must do so with 14 days* of the close date.</p>
 <ol>
   <li>Locate the winning design on your competition page, in the Entries or Client Faves tab.</li>
   <li>Select the winning logo.</li>
   <li>An email will automatically be sent to the winner, asking them to upload artwork.</li>
   <li>Once the artwork has been uploaded - you will be able to download it.</li>
   <li>Provided the designer has uploaded the artwork file, we'll pay the designer automatically between 7-14 days after the competition close.</li>
   <li>Clients have 7 days after the close date to raise a complaint about the supplied artwork.</li>
   <li>If there is a dispute about artwork quality, Logosauce admins will inspect artwork and arbitrate accordingly.</li>
 </ol>
   <p>* Logosauce will send you a reminder to choose a winner after the close date.</p>  
 <br />
 <h2>What happens if I fail to or can't pick a winner after 14 days</h2>
 <p>You must pick a winner within 14 days as per the Logosauce competition rules. There are no exceptions. Failure to pick a winner will result in an incomplete competition, you will forfeit your prize-money and any fees and you will not receive artwork.</p>
 <br />
 <h3>Error message:  "Permission denied, your account is too new to enter this competition"</h3>
 <p>Logosauce prohibits users from entering a competition that started before you became a member.</p>
 <br />
 <h3>Error message: "Permission denied, you must first register your Paypal account to enter competition"</h3>
 <p>Prizemoney is paid to winners via Paypal. We do not pay using any other method. To avoid problems later and to avoid disappointment, we ask all designers to record their Paypal details before they can enter a competition. Click the My Profile tab, Edit and add your Paypal email to your profile.</p>
 <br />
 <h2>When do competition winners get paid?</h2>
 <p>Competition winners will get paid approximately 7 days after they have uploaded finished art for the client to collect. The 7 days stand-down period gives the client 7 days to complain if there is a problem with the artwork. Once the winner is selected - the winner is emailed. The onus is then on the winner to work with the client and upload finished artwork to the winning logo.</p>
<hr />
<h1 id="projects">Projects (NEW)</h1>
<h2>How is a project different from a competition?</h2>
<p>A project enables a client to work with one designer (as opposed to receiving designs from many designers in a competition). Essentially designers bid for a project and a client awards a contract to one designer and then works with them to complete the project.</p>
<br />
<h2>What does a project cost?</h2>
<p>A client can advertise a project for US$50.  It's free for designers to bid on projects and there is NO success fee. The listing fee for the client is the only cost.</p>
<h2>Do designers win points for a successful bid?</h2>
<p>Yes each winning bid is awarded 100 points - which are added to the designers profile.</p>

<hr />
<h1 id="people">People</h1>
<h2 id="pro">Pro Designer accounts</h2>
<id ="pro"><h3>What's a <span class="pro">Pro</span> Designer account?</h3>
<p>If you're a designer, you can also apply for a <em>Pro Designer</em> account which gives you added benefits including ability to sell logos, receive invites for pro only events, and your comments and votes will have greater weight. <br /><br />Pro accounts cost $50 and are approved by Logosauce admins before being accepted.  Once you've completed sign-up and logged in, you'll need to upload some of your work, and complete a profile bio so that we can review your suitability for the Pro status.</p>
<br />
<h3>Who is a Pro Designer account suitable for?</h3>
<ul>
  <li>Professional designers working full or part time in a design business or freelancing</li>
  <li>Design firms.</li>
  <li>Designer with at least 10 high quality designs of their own making uploaded to their portfolio.</li>
  <li>Logosauce designers with a proven track record on Logosauce and a portfolio with at least 10 quality designs.</li>
</ul>
<p>Note: Logosauce designers who have won 2 or more design competitions get automatic Pro status (free of charge).</p>  

<h3>What does a Pro Designer account cost.?</h3>
<p>$50 application fee (non refundable) <em>or FREE(see below)</em>.<br /><br />Logosauce admins will review your portfolio and bio and any links to ascertain your suitability for Pro status. We're looking for your ability to create professional well thought out designs and satisfy client needs.</p>
<h3>Benefits of a Pro Designer account.</h3>
<ol>
  <li>Higher profile on Logosauce.</li>
  <li>Your opinion is valued above a standard designer. Each vote a Pro makes is worth triple the points of a standard designer.</li>
  <li>You'll appear in exclusive Pro Designer listings.</li>
  <li>More enquiries and better results.</li>
</ol>
<h3>How do I get a Pro account?</h3>
<ul>
  <li>Win 2 or more competitions. You will be automatically be upgraded to a Pro account free of charge.</li>
  OR
  <li>Pay a $50 application fee and Logosauce will inspect your portfolio and credentials for suitability. You need at least 10 quality designs of your own making in your portfolio and a completed Bio and contact details.
    <ol>
      <li>Prepare your Portfolio and complete your Bio.</li>
      <li>Click your My Profile tab.</li>
      <li>Click the Edit link in top right hand side of your details panel.</li>
      <li>Click the <em>Upgrade to pro designer</em> link.</li>
      <li>Pay your application fee.</li>
    </ol>
  </li>
  <p>You can apply at any-time. Just ensure you have at least 10 good quality designs in your portfolio and have completed your bio.</p>
<br /><br />
<hr />

<h1 id="blog">Blog</h1>
<h2>Can I comment on the blog?</h2>
<p>Yes provided you are signed-in.</p>
<h2>How can I start a discussion?</h2>
<p>Logosauce does not have a forum and users do not have permissions to post new blog articles. However you can email us, and suggest a topic for a blog article or even write one and send it to us for inclusion at the discretion of Logosauce admins.</p>
<hr />


<h1 id="myprofile">My Profile</h1>
<h2>Can I change my details?</h2>
<p>Yes - just sign-in. The <em>My Profile</em> tab will appear, click the tab and then the <em>Edit</em> link to change your details.</p> 
<h2>How do I close my account?</h2>
<p>Go to your <em>My Profile</em> page, click the <em>Edit</em> link and then the <em>Cancel my account</em> link at the bottom right of the Edit page. Note, while your account will be cancelled and you will no longer ben able to access anything, your data may not be entirely deleted, because we need to retain some data for some of your previous activity, such as competition entries, etc.</p>
<hr />

<h1 id="other">Other</h1>
<h2>What is Textile ?</h2>
<p>Logosauce uses <a href="http://redcloth.org/hobix.com/textile">Textile</a>, a simple markup language, becoming popular on many websites, for many of it's user entered text areas. With Textile you can style your entries without having to use HTML.<br /><br />For example to create a bulleted list, add an *  in front of a line of text or a # for a number list.<br /><br />We provide a link to a Textile guide where textile is available.</p>
<h2>How do I report an inappropriate listing or feedback ?</h2>
<p>Please email <a href="mailto:support@logosauce.com">Logosauce Help</a> with your concern and where possible include links to the offending materials by navigating to the logo or profile you are referring to and then copy the URL in your browser's address bar and paste into your message.  Upon receipt LogoSauce will inspect the logo and take action where necessary.</p>
</div>
<div class="right">
  <h1>2. Consult the <a href="posts">Blog</a></h1>
  <p>The Logosauce blog is a great place to find, tips and tricks, ideas and discussion.  You can search or browse by tag.</p>
  <br /><br />
  <h1>3. Contact us</h1>
  <p>Please try the FAQ's and Blog first.  If you still can't find the answer, contact us:<br /><br />Email <a href="mailto:support@logosauce.com">Logosauce Help</a><br />
    <br />Please ensure you include: <ol><li>your profile id (or URL)</li><li>the id (or URL) of any logo/competition/project/user you are having problems with</li><li>your browser details</li><li>and a full description of the problem.</li></ol> Note: ID's/URL can be seen in your browsers address bar.<br /><br />If it's really urgent you can try <a href="contact">telephoning us</a></p>
  
</div>  
</div>