<% content_for :help do %>
 <p>Logo's. We love them.  Check out this page and the other links across the top of the page to learn more about what you can do here at Logosauce. Or heck just jump right in a sign-up. It's free - so you've got nothing to lose but a little time. </p>
<% end %>


<head>
  <script src="javascripts/cross-slide.js" type="text/javascript"></script>
  <script type=text/javascript>
   jQuery(function($) {
    $('#test1').crossSlide({
    sleep:2,
    fade: 1
    }, [
    		{ href: ' logos/55', src: 'http://www.logosauce.com/images/logos/thumbnails/55-gallery-1224252489.jpg', dir: 'up'   },
          { href: 'logos/8299', src: 'http://www.logosauce.com/images/logos/thumbnails/8299-gallery-1224247558.jpg',   dir: 'down' },
          { href: 'http://www.logosauce.com/logos/977', src: 'http://www.logosauce.com/images/logos/thumbnails/977-gallery-1224322735.jpg',  dir: 'up'   },
          { href: 'http://www.logosauce.com/logos/1376', src: 'http://www.logosauce.com/images/logos/thumbnails/1376-gallery-1224188722.jpg',  dir: 'up'   },
          { href: 'http://www.logosauce.com/logos/12914', src: 'http://www.logosauce.com/images/logos/thumbnails/12914-gallery-1224433833.jpg',  dir: 'up'   },
          { href: 'http://www.logosauce.com/logos/149', src: 'http://www.logosauce.com/images/logos/thumbnails/149-gallery-1224141196.png',  dir: 'up'   },
          { href: 'http://www.logosauce.com/logos/40956', src: 'http://www.logosauce.com/images/logos/thumbnails/40956-gallery-1234087117.png',  dir: 'up'   },
          { href: 'logos/5415', src: 'http://www.logosauce.com/images/logos/thumbnails/5415-gallery-1224194890.jpg',  dir: 'up'   }
      ]);
     });

  </script>
  <style type="text/css">
    		#test1 {
      	margin: 1em auto;
      	border: 0px solid #555;
      	width: 320px;
      	height: 240px;
    		}
  	</style>
</head>

<div class="encapsulate">
  <div class="left">
    <h1>Oozing logo goodness</h1>
    <p>We just love logos in all their shapes and forms. Logo's are a "message in an icon". They have meaning. They are a wonderful artform. They are a visual language that we all understand across the social, language and cultural divide. <br /><br />They are marvels of design.<br /><br />At Logosauce we're celebrating logos and the special group of designers that create them. You can find a vast array of logo designs, view individual designer's portfolios from around the globe, run your own logo design competition, and much more.<br /><br />And we'd like <em>you</em> to <a href="people/new">join us</a>.</p>
    <br />
    <h2>Designers</h2>
    <p><a href="logos/new">Create a portfolio</a> of your logo designs, bid for <a href="projects">project work</a> or participate in <a href="competitions">design competitions</a>.</p>
    <br />
    <h2>Clients</h2><p><a href="people">Find a great designer</a>, advertise a <a href="projects/new">design project</a> or run a <a href="competitions/new">design competition</a>.</p>
    <br />
    <h2>Fans</h2> <p>Just <a href="/">watch</a> or <a href="http://twitter.com/logosauce" title="Follow Logosauce on Twitter">follow us on Twitter</a>.</p>
    <br /><br />
    <p>NEXT - <a href="findadesigner">Find a logo designer</a></p>
  </div>
  
  <div class="right">
    <h3 align="center">It's all about the logos!<br />Here are some of <em>our</em> faves:</h3>
    <div id="" style="margin-bottom:20px;"> 
      <!--<a href="hairdressing.html"><img alt="Hairdressing"  src="http://www.logosauce.com/images/logos/thumbnails/55-lightbox-1224252489.jpg" /></a>-->
      <div id="test1">Loading</div>
    </div>
  </div>
</div>  

     