<div class="encapsulate">


<h1>Logosauce Pricing</h1>


<ul>
 <h2>Participate</h2>
 <li>User Account  FREE</li>
 <li>Designer Portfolio FREE</li>
 <li>Pro Designer Account  $50 (non-refundable application fee)</li>
</ul>
 
 <ul>
 <h2>Design Competitons</h2>
 <li>Admin Fee  10% (of prize offered)</li>
 <li>Private option  +10%</li>
 <li>Competition entries FREE</li>
 </ul>
 <ul>
 <h2>Design Projects (NEW)</h2>
 <li>Advertise a Design Project  $50</li>
 <li>Bid on a Design Project FREE</li>
 </ul>
 
 <ul>
 <h2>Logo sales (NEW)</h2>
 <li>Advertise a logo for sale  FREE</li>
 <li>Commission on sale  10%</li>
 </ul>
 
 
 
 
 <ul>
 <h2>The Logosauce book (coming soon)</h2>
 <!--><ul>
   <li>Hardcover book $75 (+P&P)</li>
   <li>Portfolio Page in the book(for designers) $200</li>
   <li>iPad ebook  $9.99</li>
</ul>-->
<br />
<br />
<p><em>All prices are in US$. Prices subject to change without notice.</em></p>

</div>  

