  <h1>Privacy Policy</h1>
  <h2>INTRODUCTION</h2>
  <p>Logosauce is committed to protecting the privacy of personal information you might provide via any Logosauce website. This policy explains how we manage personal information and the security precautions taken.</p>

  <br /><br />

  <h2>COLLECTION OF PERSONAL INFORMATION</h2>
  	<p>
  		Logosauce collects information about online customers and other website users, including:
  		<ul>
  		<li>personal information provided voluntarily when completing forms</li>
  		<li>website usage information through tracking individual website users' click behaviour</li> 
  		<li>aggregated data, measuring traffic to the websites but not relating to you personally</li>
  		</ul>

  		If you choose not to provide personal information when requested, certain services may not be available to you online. Details including your name, address, email address, telephone number and credit card number may be required in order to download, upload or to access certain functionality. 
  	</p>

  <br /><br />
  <h2>USE OF INFORMATION</h2>
  <p>Logosauce collects personal information for the following purposes:
  <ul>
  <li>to assist in providing the services you request</li>
  <li>to process any communications you request</li>
  <li>internal research</li>
  <li>to enable ip owners to monitor and audit views of their content</li>
  <li>to verify your identity and assist you if you forget your login or password details</li>
  <li>any other use that you authorise</li>
  </ul>
  <br /><br />
  <h2>DISCLOSURE OF INFORMATION</h2>
  <p>
  Logosauce will not sell, or allow third parties access to your information without your approval. However, from time to time Logosauce may disclose information collected to:
  <ul>
  <li>the owners of the Intellectual Property you access or competitions and projects you participate in or comment on</li>
  <li>government agencies and departments for the purpose of meeting their requirements</li>
  <li>trusted business partners, provided Logosauce has your prior authorisation, to help us process the information for specific projects</li>

  </ul>
  <br />
  Otherwise, your information will not be passed on to any other third party unless it is authorised or required by law. Disclosures may include the transfer of your personal information between countries.</p>
  <br /><br />

  <h2>ACCESS TO AND CORRECTION OF INFORMATION</h2>
  <p>You may request access to and correction of your information, or request Logosauce access and correct your information, at any time. If you have registered as a user, you may access and update your information by logging in with your username and password. You may also unsubscribe from Logosauce's email communications at any time by clicking on the "Unsubscribe" link in every Logosauce bulk email you receive and by changing your user Profile. If at any time you are unsure of how to access or correct your information, please contact us.</p>
  <br /><br />
  <h2>COOKIES</h2>
  <p>
  A cookie is a small text file which Logosauce may put on your computer's hard disk in order to recognise your computer at a later time. A cookie cannot read your hard drive or perform any commands on your computer and does not contain your name, address, telephone number, or email address. You may configure your web browser to not accept cookies, however you may experience a loss of functionality as a result.
  <br /><br />

  Logosauce may use the information collected by cookies to:
  <ul>
  <li>track website usage patterns</li>
  <li>display content more relevant to you, based on information we collect when you visit our websites</li>
  <li>enable you to use certain services on our websites</li>
  <li>assess effectiveness of online advertising campaigns</li>
  <li>assist you with logging on</li>
  </ul>
  <br />
  <h2>Questions</h2>
  <p>If you have any questions about the privacy and security of your personal information, please <a href="contact">contact us</a>.</p>
 