<% content_for :help do %>
 
 <h1>The Logosauce Book Help</h1>
 <p>The Logosauce Book is a hard bound coffee table book produced by the team at Logosauce featuring logo artwork from Logosauce designers. You can buy the book and designers can buy a page in the book. </p>
<% end %>

<h1>The Book (coming soon)</h1>
<p><img src="images/logosauce_book.gif" /></p>
  


