<% content_for :help do %>
 
<p>No help here. This is just a little story about the Logosauce bottle for those curious about it's origins.</p>
<% end %>

<h1>The Logosauce bottle - a brief history</h1>

<div class="encapsulate">
<div class="left">
 <img src="http://www.brandfm.com/image/preview/177.jpg" />
</div>
<div class="right">
	<p>This is just a little story about the Logosauce bottle for those curious about it's origins.</p>
	<p>It's in fact a real item, a kiwi icon from New Zealand from a time when tomato sauce (er ketchup) came in tins and glass bottles. But we kiwi's wanted to be able to squeeze the last little bit of sauce out - so the plastic squeezable sauce container was born.<br /><br />...More coming soon...</p>
</div>  
</div>

